<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Me - Ruben Reyes</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
   integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <link href="/style.css" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img src="/Images/IMG_9444 (1).jpg" alt="Profile Picture" class="navbar-profile-pic">
        Ruben Reyes II
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./Home.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./AboutMe.html">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./Projects.html">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./Resume.html">Resume</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
              Contact
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="./ContactMe.html">Contact Me</a></li>
              <li><a class="dropdown-item" href="Map.html">Map</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-4 carousel-wrapper">
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/Images/IMG_9444.jpg" class="d-block w-100" alt="Image 1">
            </div>
            <div class="carousel-item">
              <img src="/Images/IMG_2998.jpg" class="d-block w-100" alt="Image 2">
            </div>
            <div class="carousel-item">
              <img src="/Images/IMG_2665.JPEG" class="d-block w-100" alt="Image 3">
            </div>
            <div class="carousel-item">
              <img src="/Images/IMG_5246.jpg" class="d-block w-100" alt="Image 4">
            </div>
            <div class="carousel-item">
              <img src="/Images/IMG_2654.jpg" class="d-block w-100" alt="Image 5">
            </div>
            <div class="carousel-item">
              <img src="/Images/IMG_3295.jpg" alt="Image 6">
            </div>
            <div class="carousel-item">
              <img src="/Images/IMG_9519.jpg" class="d-block w-100" alt="Image 7">
            </div>
            <div class="carousel-item">
              <img src="/Images/Chalky-5.jpg" class="d-block w-100 fit-width" alt="Image 8">
            </div>
            <div class="carousel-item">
              <img src="/Images/IMG_4122.jpg" class="d-block w-100" alt="Image 9">
            </div>
            <div class="carousel-item">
              <img src="/Images/Chalky-2.jpg" class="d-block w-100 fit-width" alt="Image 10">
            </div>
            <div class="carousel-item">
              <img src="/Images/IMG_1271.JPG" class="d-block w-100 fit-width" alt="Image 11">
            </div>
            <div class="carousel-item">
              <img src="/Images/IMG_0587.jpg" class="d-block w-100" alt="Image 12">
            </div>
            <div class="carousel-item">
              <img src="/Images/IMG_9516.jpg" class="d-block w-100 shift-down" alt="Image 13">
            </div>
            <div class="carousel-item">
              <iframe src="https://www.kens5.com/embeds/video/responsive/273-b82838c9-308f-43c2-b7d8-42455ba3c0cd/iframe" 
              class="d-block w-100" style="height: 220px;" allowfullscreen></iframe>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <div class="col-md-8">
        <div class="div-with-border">
          <h3>About Me!</h3>
          <p>Growing up in the Rio Grande Valley, I am currently a student at Texas A&M University-San Antonio.
             I am a computer science student exploring different computing interests to find what field I like most. 
             As a matter of fact, I built this website from the ground up. Aside from my CS, I stay quite active within 
             the university, serving as an Ambassador, which has provided me with innumerable opportunities. For fun, 
             I've upkept a musical hobby for years. I play viola, as well as violin for a mariachi. I am incredibly proud
              to perform and show off my heritage, along with representing our university through music!</p>
        </div>
      </div>
    </div>

    <div class="row paragraph-wrapper mt-4">
      <div class="col-12">
        <p>The pictures above are images from my life as a student, ambassador, 
          and mariachi (and a time where my position put me on the news).
           Enjoy the glimpse into my life! Video is courtesy of KENS 5 News.</p>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>

</html>
